@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --darker-wine: #424242;
    --dark-wine: #535253;
    --gold: #AA9B77;
    --dark-gold: #837659;
    --black: #424242;
    --dark-blue: #165EB9;
    --yellow: #FFE637;
    --green: #535253;
    --pink: #D3A7AC;
    --white: #FFFFFF;
    --dark-white: #F5F6F7;
    --font-family: QuicksandBold-Regular, AdobeInvisFont, MyriadPro-Regular;
}
body{
    margin: 0;
    padding: 0;
}
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100vw;
}

.w-70 {
    width: 70vh;
}

.w-50 {
    width: 50vw;
}

.w-30 {
    width: 30vw;
}

.m-auto {
    margin: auto;
}

.p-5 {
    padding: 5em;
}

.container {
    width: 80%;
}

.pt-15 {
    padding-top: 15vh;
}

.pt-2 {
    padding-top: 2vh;
}

.pb-15 {
    padding-bottom: 15vh;
}

.gold {
    color: var(--gold);
}

input[type=checkbox]{
    margin-left: 10px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    padding: 2px;
}

input[type=checkbox]:checked{
   display: none
}
.customCheckbox {
    display: none;
}
input[type=checkbox]:checked ~ .customCheckbox{
    margin-left: 10px;
    margin-right: 4px;
    border: 1px solid var(--gold);
    border-radius: 4px;
    color: var(--gold);
    background-color: white;
    padding: 2px;
    display: inherit;

}


/* menu */

#home nav {
    display: flex;
    width: 94vw;
    justify-content: space-between;
    padding: 30px;
}

#home .menu {
    display: flex;
    width: 29vw;
    justify-content: space-between;
}

#home .menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 27vw;
}

#home .menu ul li a {
    text-decoration: none;
    color: var(--white);
}


/* footer */
#footer {
    width: fit-content;
    height: 40vh;
}

#footerSectionTop {
    height: 5vh;
    background-color: var(--dark-wine);
    padding-top: 2vh;
    padding-left: 4vh;
}

#footerSectionTop q {
    color: var(--white);
}

#footerSectionTop i {
    padding-right: 4px;
}

#footerSectionMain {
    background-color: var(--darker-wine);
    color: var(--white);
    display: grid;
    grid-template-columns: 70% 30%;
}

#footerMainLeft {
    text-align: justify;
    width: 40%;
    padding: 3em;
}

#footerMainLeft h2 {
    padding-bottom: 20px;
}

#footerMainRigth {
    width: 14vw;
    padding: 6em;
}

#footerMainRigth ul {
    display: flex;
    list-style: none;
    width: 20vw;
    padding-bottom: 20px;
}

#footerMainRigth ul li {
    padding: 2px;
}

#footerMainRigth ul li a {
    text-decoration: none;
    color: var(--white);
}
